# Jekyll build output
_site/

# Jekyll caches and metadata
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Ruby/Bundler dependencies
.bundle/
vendor/

# Node
node_modules/

# Compiled Assets
assets/css/main.css
