@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.highlighter-rouge .highlight {
	max-width: 75vw;
}

/* https://remarkablemark.org/blog/2021/06/01/add-copy-code-to-clipboard-button-to-jeyll-site/ */
pre.highlight {
  position: relative;
}

pre.highlight > button {
  opacity: 0;
}

pre.highlight:hover > button {
  opacity: 1;
}

pre.highlight > button:active,
pre.highlight > button:focus {
  opacity: 1;
}

.copy {
  color: #fff;
  border: 1px solid #eee;
  border-radius: 12px;
  position: absolute;
  text-align: center;
  min-width: 6em;
  right: 1.2rem;
  top: 1.2rem;
  opacity: 0;
}
