%footer
  %p
    = link_to 'https://github.com/mjc-gh' do
      %i.fa.fa-github
    = link_to 'https://twitter.com/mjc_tw' do
      %i.fa.fa-twitter
    = link_to 'https://www.linkedin.com/in/michael-j-coyne/' do
      %i.fa.fa-linkedin
