%header
  = link_to '&gt;mjc', '/', class: 'logo'

  %nav
    = link_to 'contact.html' do
      %i.fa.fa-envelope-o
      Contact
    -#= link_to 'open-source.html' do
      %i.fa.fa-file-code-o
      Open Source
    -#= link_to 'photography.html' do
      %i.fa.fa-camera-retro
      Photography
