---
title: "michaeljcoyne.me - Contact me"
description: "Looking to reach out and send me a message? This page has links for contacting me."
---

%main
  %h1 Contact

  %p
    Looking to reach out and send me a message? You can reach me here at
    #{content_tag :a, 'mjc@hey.com', href: 'mailto:mjc@hey.com'}.

  %p
    You can also message me on
    #{link_to 'Twitter', 'https://twitter.com/mjc_tw'} or
    #{link_to 'LinkedIn', 'https://www.linkedin.com/in/michael-j-coyne/'}.
