---
title: "michaeljcoyne.me"
description: "Hello, I'm Michael! I am a computing scientist, software engineer, and tech start-up advisor living in NYC."
---

%main.index
  = image_tag 'me.png'

  %hr

  %p
    %strong Hello, I'm Michael!
    I am a computing scientist and software engineer currently residing in New
    York City. I deeply enjoy writing software and building technology,
    crafting thoughtful user-experiences, and just generally helping start-ups
    and companies leverage technology.

  %p
    Currently, I am the CTO for <a href="https://www.publicist.co">Publicist</a>.

  %p
    Feel free to <a href="/contact.html">reach out</a> with questions about
    software engineering, security, or tech start-ups. Thanks for visiting!
