---
title: "michaeljcoyne.me"
description: "Hello, I'm Michael! I am a computing scientist, software engineer, and tech start-up advisor living in NYC."
---

%main.index
  = image_tag 'me.png'

  %hr

  %p
    %strong Hello, I'm Michael!
    I am a computing scientist and engineer leader currently residing in New
    York City. I enjoy writing software, crafting thoughtful user experiences,
    and helping start-ups and companies leverage technology in innovative ways.

  %p
    Feel free to <a href="/contact.html">reach out</a> with questions about
    software engineering, security, or tech start-ups. Thanks for visiting!
